@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --MainColor: rgb(47, 25, 95);
    --SecondColor: #7353ba;
    --BlackShade: #0f1020;
    --WhiteShade: #f8f7ff;
}
body{
    font-family: 'Cabin', sans-serif;
    padding: 1.25rem 0.75rem;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1, h2, h3{
    font-family: 'Playfair Display', serif;
    font-style: italic;
    text-align: center;
}
.item-list{
    display: grid;
    grid-template-columns: auto;
    gap: 1.8rem;
}
.item-container{
    border: 2px solid var(--MainColor);
    padding: 0.75rem;
    border-radius: 0.7rem;
    display: flex;
    gap: 2.5rem;
    width: 100%;
    max-width: 37.5rem;
    margin: auto;
}
.item-container img{
    width: 50%;
    height: 7.5rem;
}
.item-container h3{
    font-weight: 700;
    font-style: normal;
}
.item-info{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}
.item-container button{
    padding: 0.35rem 0.75rem;
    text-transform: uppercase;
    font-weight: 500;
    background-color: var(--WhiteShade);
    border-radius: 5px;
    transition: all 0.7s ease-in-out;
    cursor: pointer;
    border-color: var(--MainColor);
    width: 7rem;
}
.item-container button:hover{
    padding: 0.3rem 0.75rem;
    color: var(--WhiteShade);
    background-color: var(--MainColor);
    border-radius: 5px;
}

.modal{
    position: absolute;
    background-color: #f8f7ff;
    padding: 1.5rem;
    border-radius: 10px;
    width: 100%;
    max-width: 37.5rem;
    height: 120%;
    top: 0;
    box-shadow: 20px 45px 400px 200px rgba(47,25,95,8);
    -webkit-box-shadow: 20px 45px 400px 200px rgba(47,25,95,8);
    -moz-box-shadow: 20px 45px 400px 200px rgba(47,25,95,8);

}

.modal .close-btn{
    font-weight: 700;
    font-size: 3rem;
    cursor: pointer;
}
.modal p{
    border-bottom: 1px solid var(--MainColor);
    margin: 2rem 3rem 2rem;
    padding: 1.5rem;
    font-size: 1.2rem;
}
.modal p span{
    font-weight: 700;
}